<div class="container">
  <h1>Category List</h1>
  <div class="row no-gutters">
    <% @products_images.each do |category| %>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="card float-left" style="width: 18rem;">
          <img class="d-none d-md-block d-lg-block card-img-top" src="<%= category.image %>" alt="" style="max-width: 286px; max-height:180px;">
          <div class="card-body">
            <h5 class="card-title" style="height: 48px"><%= category.name %></h5>
            <%= link_to 'Products List', category_products_path(category.category_id), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>